.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.btnleft {
  position: absolute;
  left: 0;
  z-index: 999;
}

.btnright {
  position: absolute;
  right: 0;
  z-index: 999;
}

.card-img {
  height: 45vh;
}

.bg-transparent {
  transition: transform 0.2s;
}

.bg-transparent:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 10;
  overflow-y: hidden;
}

.carousel-row {
  scroll-behavior: smooth;
  padding: 2rem;
}
